{% extends 'pizza/base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
<h1>Order Pizza</h1>
<h2>{{ note }}</h2>

{% if created_pizza_pk %}
<a href="{% url 'edit'  created_pizza_pk %}">Edit Order</a>
{% endif %}

<form action =  "{% url 'order' %}" method = "post">

    {% csrf_token %}
    {% for field in pizzaform %}
    <div class ='form-group'>
    {{ field.errors }}
    {{ field.label_tag }}
    {% render_field field class='form-control' %}
     </div>
    {% endfor %}
    <br><br>
    <input type="submit" value = "order pizza">
</form>
<br><br>
want more than one pizza?
<form action =  "{% url 'pizzas' %}" method = "get">

    {{ multiple_pizza_form }}

    <input type="submit" value = "order pizza">
</form>

{% endblock %}
